<mat-card
  (click)="openDialog()"
  [ngStyle]="{'border': album.color + ' 5px solid'}"
  class="example-card"
>
  <mat-card-header>
    <mat-card-title>Album {{album.id}}</mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile *ngFor="let pic of album.photos">
      <img [src]="pic.thumbnailUrl" mat-card-image>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
