<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Newest albums
  </h1>
</div>
<div class="album-list">
  <app-album *ngFor="let album of albumsArray" [album]="album">
  </app-album>
</div>
