<mat-card class="example-card">
  <mat-card-header>
    <div class="example-header-image" mat-card-avatar></div>
    <mat-card-title>{{photo.title}}</mat-card-title>
  </mat-card-header>
  <img alt="Photo of a Shiba Inu" mat-card-image src="{{photo.url}}">
</mat-card>
